@font-face {
    font-family: 'EB Garamond';
    src: url('fonts/EBGaramond-Regular.eot');
    src: url('fonts/EBGaramond-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/EBGaramond-Regular.woff2') format('woff2'),
    url('fonts/EBGaramond-Regular.woff') format('woff'),
    url('fonts/EBGaramond-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

