@@include('templates/desktop/include/header.html')

<header class="header">
    <div class="header__inner">
        <div class="header__logo">
            <a href="" class="header__logo-link">
                <img src="/images/desktop/main/logo.png" alt="" class="img">
            </a>
        </div>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item">Об усадьбе</li>
                <li class="header__nav-item">Посетители</li>
                <li class="header__nav-item">Новости</li>
                <li class="header__nav-item">Контакты</li>
            </ul>
        </nav>
    </div>
</header>

@@include('templates/desktop/include/footer.html')
