@@include('templates/desktop/include/header.html')

<style>
    body {
        margin: 10px;
    }
    h2 {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    h3 {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    header,
    footer {
        display: none;
    }
</style>

<h2>Модальные окна</h2>
<button data-modal-video data-src="https://www.youtube.com/embed/P38acjc8DyY" class="button">Видео</button>
<button data-toggle="modal" data-target=".jsModalError" class="button">Ошибка</button>
<button  data-toggle="modal" data-target=".jsModalSubscribe" class="button">Подписаться</button>
<button data-toggle="modal" data-target=".jsModalSuccess" class="button">Спасибо</button>
<button data-toggle="modal" data-target=".jsModalLang-am" class="button">jsModalLang-am</button>
<button data-toggle="modal" data-target=".jsModalLang-kz" class="button">jsModalLang-kz</button>

<h3>Олапик</h3>
<button data-modal-olapic data-modal-class=".jsModalGallery" class="button">Олапик галерея</button>

@@include('templates/desktop/include/footer.html')
